@import "./variables.less";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
    background-color: @primarycolor;
}


h2 {
    font-size: @fontheading1;
    .robotouppercase();
}

p {
    font-family: 'roboto';
    font-size: @font-p;
    color: @textcolor;
    font-weight: 400;

}

button {
    background-color: @primarycolor;
    color: @textcolor;
    border-radius: 8px;
    padding: 2%;
    border: none;
    font-size: @font-links;
    .robotouppercase();
}

span {
    color: @secondarycolor;
    .robotouppercase();
}



footer {
    border-top: 10px solid @primarycolor;
    background-color: @footercolor;
}

.list-inline {
    padding: 4%;
    list-style: none;
    font-family: 'roboto';
    color: @textcolor;
    font-weight: 500;
        .list-inline-item {
            margin: 0% 4%;
        }
    }


.sectiontwo {
    background-color: @sectiontwocolor;
        .col-6.col-md-4 {
            padding-top: 3%;
            padding-left: 15%;
        }
}

.col-6.col-md-4 {
    padding-top: 3%;
    padding-right: 15%;
}

.col-12.col-md-8 {
    padding: 8%

}

img.rounded.mx-auto.d-block {
    padding: 5%;

}

.backgroundimage {
    position: absolute;
    opacity: 5%;
    
}


.herosection {
    background-color:#3b3838;
    width: 100%;
    padding-bottom: 15%;
}


.lower {
    text-transform: none;
    color: @textcolor;
}


@media (min-width: 375px) and (max-width: 769px) {
    .herosection {
        padding-bottom: 1%;
    }
}

